In [1]:
from ioi_helper import get_all_data, get_year_data
from ioi_helper import get_by_country, get_most_participations, get_best_contestants
from ioi_helper import get_all_administration, get_administration_by_year

In [2]:
data = get_all_data()
data

,Year,Rank,Name,Country,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6,Task_7,Task_8,Score,Rel_score(%),Award
0,1989,1,Teodor Tonchev,Bulgaria 2,10,40,50,,,,,,100,100.00,Gold
1,1989,2,Andrius Cepaitis,Soviet Union,5,40,50,,,,,,95,95.00,Gold
2,1989,2,Dániel Szabó,Hungary,10,40,45,,,,,,95,95.00,Gold
3,1989,2,Emanuel Todorov,Bulgaria,5,40,50,,,,,,95,95.00,Gold
4,1989,2,Igor Maly,Czechoslovakia,5,40,50,,,,,,95,95.00,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8637,2024,349,Steven Mera,Ecuador,0,0.00,0,3,0,0.0,,,3.00,0.50,
8638,2024,350,Blendi Avdolli,Albania,0,0.00,0,0,0,0.0,,,0.00,0.00,
8639,2024,350,Mathías Rivera,Ecuador,0,0.00,0,0,0,0.0,,,0.00,0.00,
8640,2024,350,Nzubechukwu Chendo,Nigeria,0,0.00,0,0,0,0.0,,,0.00,0.00,
8641,2024,Guest,Jiyu Shen,China,0,0,0,0,0,0,,,0.00,0.00,

In [3]:
data = get_administration_by_year(2024)
data = get_all_administration()
data

     Year                      Name        Role
0    1989            Petar Kenderov    Chairman
1    1989  Alejandro Pita Hernández   IC member
2    1989           Christos Kilias   IC member
3    1989          Peter Heyderhoff   IC member
4    1989                   S. Chen   IC member
..    ...                       ...         ...
686  2024       Hamid Zarrabi-Zadeh  ITC member
687  2024               László Nyúl  ITC member
688  2024              Martin Mareš  ITC member
689  2024          Omar Quispe Mita  ITC member
690  2024                Wael Ewida  ITC member

[691 rows x 3 columns]