In [1]:
from tools import get_year_data, get_all_data

In [2]:
data = get_all_data()
data.head()

Done!

,Year,Rank,Name,Country,Task_1,Task_2,Task_3,Task_4,Task_5,Task_6,Task_7,Task_8,Score,Rel_score(%),Award
0,1989,1,Teodor Tonchev,Bulgaria 2,10,40,50,,,,,,100,100.00,Gold
1,1989,2,Andrius Cepaitis,Soviet Union,5,40,50,,,,,,95,95.00,Gold
2,1989,2,D치niel Szab칩,Hungary,10,40,45,,,,,,95,95.00,Gold
3,1989,2,Emanuel Todorov,Bulgaria,5,40,50,,,,,,95,95.00,Gold
4,1989,2,Igor Maly,Czechoslovakia,5,40,50,,,,,,95,95.00,Gold

In [3]:
data.to_csv("data/IOI_data.csv", index=False, encoding="utf-8")